streamlit
yfinance
pandas
plotly
requests
beautifulsoup4
brotli
mplfinance
lightweight-charts
scipy
smartapi-python
pyotp
logzero
websocket-client
pyotp
streamlit
requests
python-dotenv
pytz
python-dateutil